/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* HEADER */
header {
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top {
    display: none;
}

div .bannerdesktop{
    display: none;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}


header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}


header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 170px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: right 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner{
    
    
}


h1{
    font-family: TitilliumWeb-Black;
    font-size: 28px;
    display: flex;
    position: absolute;
    left: 155px;
    top: 150px;
    border-top: 3px solid #f9aa01;
}

div.usuario{
    border: none;
    outline: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(10px);

    display: flex;
    position: absolute;
    top: 290px;
    left: 50px;
    
}
div.senha{
    border: none;
    outline: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(10px);

    display: flex;
    position: absolute;
    top: 350px;
    left: 50px;
}

main .login {
    display: flex;
    position: absolute;
    top: 140px;
    left: 20px;
    width: 335px;
    height: 462px;
    border-radius: 8px ;
    background-image: linear-gradient(to right bottom, (#1B1426, .6), (#3C0341, .38));
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

input#user{
    border: none;
    outline: none;
    display: flex;
    position: static;
    justify-content: center;
    left: 50px;
    top: 290px;
    width: 255px;
    height: 40px;
    padding: 5px 10px;

    background-color: transparent;
}

input#senha{
    border: none;
    outline: none;
    display: flex;
    position: static;
    justify-content: center;
    left: 50px;
    top: 290px;
    width: 255px;
    height: 40px;
    padding: 5px 10px;

    background-color: transparent;
}



 footer div #botao{
    font-family: TitilliumWeb-Black;
    font-size: 22px;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    top: 400px;
    width: 275px;
    height: 40px;
    left: 50px;
    border-radius: 8px;
    
    background-color: #F9AA01;
    color: #1B1426;
}

/* footer */

footer .redes-sociais{
    display: flex;
    position: absolute;
    top: 1045px;
    left: 20px;
    gap: 110px; 
    right: 20px;
    
}

footer .redes-sociais .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;
    
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

footer .redes-sociais .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;
    
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

footer .redes-sociais .instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;
    
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

footer div .reparo{
    display: flex;
    position: absolute;
    left: -45px;
    top: 2010px;
}

footer div .fundo{
    display: flex;
    position: absolute;
    left: -45px;
    top: 1960px;
}

/* footer .final{
    border: none;
    outline: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(10px);

} */

footer div .aqui{
    display: flex;
    position: absolute;
    border: none;
    outline: none;
    top: 1920px;
    left: 50px;
    
    justify-content: center;
    width: 275px;
    height: 40px;
    padding: 5px 10px;

    background-color: transparent;
    

    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

footer div #enviar{
    font-family: TitilliumWeb-Black;
    font-size: 22px;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    top: 2000px;
    width: 275px;
    height: 40px;
    left: 50px;
    border-radius: 8px;
    
    background-color: #F9AA01;
    color: #1B1426;
}

footer div .seta{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1B1426;
    
    top: 2150px;
    left: 303px;
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

footer div.footer-login{
    display: none;
}

div button#last{
    display: none;
}

/* desktop */
/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    header .header-bottom {
        height: 90px;
    }

    .header-bottom .menu a:hover{
        width: 90px;
        height: 90px;
        background-color: rgb(255, 255, 255);
        color: #F9AA01;
    }

    header {
        position: static;
        height: 140px;
        width: 100vw;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        font-family: Inter;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        /* border: 2px solid #FD4255; */
    }

    /* divs .phone, .mail */
    header .header-top .contatos > div {
        display: flex;
        gap: 10px;
        width: 200px;
        /* border-bottom: 2px solid #F9AA01; */
    }

    header .header-top .midias-sociais {
        width: 140px;
        display: flex;
        justify-content: space-between;
        /* border: 2px solid #FD4255; */
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais 
    {
        display: none;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
    }

    header .header-bottom nav>a {
        font-size: 14px;
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    div .bannerdesktop{
        display: block;
        width: 100vw;
        height: 680px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.login{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        
        left: 330px;

        width: 800px;
        height: 520px;
    }

    div h1{
        margin-top: 75px;
        left: 690px;
        
    }

    div.banner{
        display: none;
    }

    footer div#rodape{
        display: none;
    }

    footer div#final{
        display: none;
    }

    input#user{
        width: 565px;
    }
    
    input#senha{
        width: 565px;
    }

    div.usuario{
        margin-top: 80px;
        margin-left: 400px;
    }
    
    div.senha{
        margin-top: 100px;
        margin-left: 400px;
    }

    footer button#botao{
        margin-top: 150px;
        left: 590px;
    }
    footer{
        background-image: url(../assets/login/Footer.png);
        width: 100%;
        height: 520px;
    }

    footer .redes-sociais{
        gap: 40px;
        margin-top: 100px;
        margin-left: 105px;
    }

    div button#last{
        display: block;
        position: absolute;
        justify-content: center;
        align-items: center;

        font-family: TitilliumWeb-Black;
        font-size: 22px;
        width: 300px;
        height: 45px;
        left: 1030px;
        margin-top: 265px;
        border-radius: 8px;
    
        background-color: #F9AA01;
        color: #1B1426;
    }

    footer div .teste{
        display: flex;
        position: absolute;
        margin-left: 1030px;
        margin-top: 210px;
        
        border: none;
        outline: none;
    
    
        justify-content: center;
        width: 300px;
        height: 40px;
        padding: 5px 10px;

        background-color: transparent;
    

        background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
        border-radius: 8px;
        backdrop-filter: blur(10px);
    }


}